@{
    ViewBag.Title = "Home Page";
}

<div class="home-1">
    <!--<img src="~/Content/homeImg-Library.png" />-->
    <h1 class="highlight">Love Reading?</h1>
    <h2> Rent all the books you want.</h2>
    <h3> With ease and comfort!! </h3>
</div>

<div class="row">
    <div class="col-md-6 center">
        <h3>Our Books</h3>
        <p>
            Check out the list of books we have.
        </p>
        <p class="center"><a class="btn btn-custom" href="/Books">Books</a></p>
    </div>
    <div class="col-md-6 center">
        <h3>Rent Books</h3>
        <p>Rent a book now!</p>
        <p class="center"><a class="btn btn-custom" href="/Rentals/New">Rent</a></p>
    </div>
</div>